.page{
  text-align: center;
}

body{
  text-align: center;
}

h1{
  text-decoration: underline;
}

.title {
  font-size: 52px;
  font-weight: 800;
  text-align: center;
  color: black;
  text-shadow: 0 0 3px rgb(248, 7, 196), 0 0 5px rgb(248, 7, 196);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

button {
  font-size: 20px ;
  outline: none;
  width: 44px;
  margin: 8px;
  padding: 4px 8px;
}

select{
  font-size: 20px;
  outline: none;
  width: 44px;
  margin: 8px;
  padding: 4px 8px;
}

input {
  text-align: center;
  font-size: 28px;
  border-radius: 12px;
  margin: 8px;
  padding: 4px 8px;
  width: 88px;
}

.error {
  font-size: 22px;
  font-weight: 800;
  color: black;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 4px white;
}

